<div class="cameraDiv">
    <div class="row">
        <div class="col-6 camera1">
            <!-- <h3 >Cam 1</h3> -->
            <span class="locationStyle">Location : </span>

            <canvas class="canvaasStyle" id="canvas"></canvas>
        </div>
        
        <div class="col-6 camera2">
            <!-- <h3 >Cam 2</h3> -->
            <span class="locationStyle">Location : </span>
            <canvas class="canvaasStyle" id="canvas1"></canvas>
        </div>
    </div>
    <div class=" row">
        <div class="col-6 camera1">
            <!-- <h3 >Cam 3</h3> -->
            <span class="locationStyle">Location : </span>
            <canvas class="canvaasStyle" id="canvas2"></canvas>
        </div>
        <div class="col-6 camera2">
            <!-- <h3 >Cam 4</h3> -->
            <span class="locationStyle">Location : </span>
            <canvas class="canvaasStyle" id="canvas3"></canvas>
        </div>
    </div>
    <div class=" row">
        <div class="col-6 camera1">
            <!-- <h3 >Cam 5</h3> -->
            <span class="locationStyle">Location : </span>
            <canvas class="canvaasStyle" id="canvas4"></canvas>
        </div>
        <div class="col-6 camera2">
            <!-- <h3 >Cam 6</h3> -->
            <span class="locationStyle">Location : </span>
            <canvas class="canvaasStyle" id="canvas5"></canvas>
        </div>
    </div>
    <div class=" row">
        <div class="col-6 camera1">
            <!-- <h3 >Cam 7</h3> -->
            <span class="locationStyle">Location : </span>
            <canvas class="canvaasStyle" id="canvas6"></canvas>
        </div>
        <div class="col-6 camera2">
            <!-- <h3 >Cam 8</h3> -->
            <span class="locationStyle">Location : </span>
            <canvas class="canvaasStyle" id="canvas7"></canvas>
        </div>
    </div>
    <div class=" row">
        <div class="col-6 camera1">
            <!-- <h3 >Cam 9</h3> -->
            <span class="locationStyle">Location : </span>
            <canvas class="canvaasStyle" id="canvas8"></canvas>
        </div>
        <div class="col-6 camera2">
            <!-- <h3 >Cam 10</h3> -->
            <span class="locationStyle">Location : </span>
            <canvas class="canvaasStyle" id="canvas9"></canvas>
        </div>
    </div>
    <div class=" row">
        <div class="col-6 camera1">
            <!-- <h3 >Cam 11</h3> -->
            <span class="locationStyle">Location : </span>
            <canvas class="canvaasStyle" id="canvas10"></canvas>
        </div>
        <div class="col-6 camera2">
            <!-- <h3 >Cam 12</h3> -->
            <span class="locationStyle">Location : </span>

            <canvas class="canvaasStyle" id="canvas11"></canvas>
        </div>
    </div>
    <div class=" row">
        <div class="col-6 camera1">
            <!-- <h3 >Cam 13</h3> -->
            <span class="locationStyle">Location : </span>
            <canvas class="canvaasStyle" id="canvas12"></canvas>
        </div>
        <!-- <div class="col-6 camera1">
      <h3 >Cam 6</h3>
      <span >Location : Industrial Area</span>
      <canvas
        class="canvaasStyle"
        id="canvas5"
      ></canvas>
    </div> -->
    </div>
    <script type="text/javascript" src="assets/jsmpeg.min.js"></script>
    <!-- <div *ngFor="let camera of cameras" class="cameraDiv row">
    <div class="col-6 camera1">
      <h3 >{{ camera.name }}</h3>
      <span >Location: {{ camera.location }}</span>
      <canvas
        class="canvaasStyle"
        [attr.id]="'canvas' + camera._id"
      ></canvas>
    </div>
  </div> -->