<div class="maincontainer">
    <div class="backgroundImage">
        <div class="imageText">
            <div class="heading-teaxt" style="text-align: center;">Camera Tempering</div>
        </div>
        <div class="actionDiv row">
            <div class="col-3">
                <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                <input type="date" class="form-control dateStyle" id="date">
            </div>
            <div class="col-3">
                <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                <input type="search" class="form-control dateStyle" id="exampleFormControlInput1" placeholder="Search">
            </div>
            <div class="col-3">
                <button type="button" class="btn downloadButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i style="color: #05B2DF;" class="bi bi-download"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="tableDiv">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Camera No</th>
                    <th scope="col">Location</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><button class="btn imageButton" type="button" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop1"><span class="bi bi-image"></span></button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td><button class="btn imageButton" type="button" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop1"><span class="bi bi-image"></span></button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td><button class="btn imageButton" type="button" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop1"><span class="bi bi-image"></span></button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td><button class="btn imageButton" type="button" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop1"><span class="bi bi-image"></span></button></td>
                </tr>
           

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

    </div>
</div>


<!-- downlod card  -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content modalStyle">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Camera Tempering</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn closeButton" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn download">Download</button>
        </div>
      </div>
    </div>
  </div>